@layer components {
    a.link, .prose a {
        @apply underline text-blue-600 font-normal;
    }

    a.link:visited, .prose a {
        @apply text-purple-600;
    }

    .prose img {
        @apply mx-auto my-0;
    }

    .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
        scroll-margin-top: 2.5rem;
    }

    .left-drawer {
        @apply fixed top-10 bottom-0 z-10 px-4 w-64
            bg-white
            border-r border-gray-300 border-solid shadow-xl
            transition-all duration-200 ease-in-out
            md:static md:z-0 md:border-0 md:shadow-none md:transition-none
            md:col-start-1 md:col-span-3 row-start-1 md:w-auto;
    }

    .left-drawer--opened {
        @apply left-0;
    }

    .left-drawer--closed {
        @apply -left-72;
    }
}